.aou-template {
  padding: 0;
  .el-header {
    padding: 0
  }
  .el-main {
    padding: 0
  }
  .el-footer {
    padding: 0
  }
  .el-form-item__content{
    min-width: 204px;
  }
}
.aou-body {
  padding: 0;
  .el-form--inline {
    .el-form-item {
      min-width: 45%;
    }
  }
}
.aou-footer {
  padding: 10px 0;
  text-align: right;
}
