.el-header {
  padding: 0
}
.el-main {
  padding: 0
}
.el-footer {
  padding: 0
}
.el-form-item__content{
  min-width: 204px;
}

// 列表模板样式
.list-tem {
  margin: 10px;
}
.list-div {
  margin-bottom: 10px
}
.list-page {
  margin-top: 10px;
  text-align: right;
}
